body{
    background-color: black;
    text-align: center;
}
h1{
    font-size: 48px;
    color:white;
    
}
div{
    margin: auto;
    height: 300px;
    width: 310px;
    position: center;
    background-color: brown;
    
}
.sub{
    font-style: italic;
    text-align: center;
    color: white;
    font-size: 15px;
}
p{
    text-align: center;
    color: white;
    font-size: 18px;
    
    
}
input{
    width: 290px;
    back
}